$grayBackground: #d3d3d3;
$mainColor: #4CAF50;

@media only screen and (min-width: 600px) {
    .container {
        margin: auto;
        text-align: center;
        max-width: 1600px;
    }
}

.slidecontainer {
    width: 100%;    
    .slider {
        -webkit-appearance: none;  /* Override default CSS styles */
        appearance: none;
        width: 100%; /* Full-width */
        height: 25px; /* Specified height */
        background: $grayBackground; /* Grey background */
        outline: none; /* Remove outline */
        opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
        -webkit-transition: .2s; /* 0.2 seconds transition on hover */
        transition: opacity .2s;
    }
    .slider:hover {
        opacity: 1; /* Fully shown on mouse-over */
      }
      
      /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
      .slider::-webkit-slider-thumb {
        -webkit-appearance: none; /* Override default look */
        appearance: none;
        width: 25px; /* Set a specific slider handle width */
        height: 25px; /* Slider handle height */
        background: $mainColor; /* Green background */
        cursor: pointer; /* Cursor on hover */
      }
      
      .slider::-moz-range-thumb {
        width: 25px; /* Set a specific slider handle width */
        height: 25px; /* Slider handle height */
        background: $mainColor; /* Green background */
        cursor: pointer; /* Cursor on hover */
      }
      .slider-info {
        display: flex;
        p {
          -ms-flex: 1;
          flex: 1;
        }
        .vrijednost {
            font-weight: bold;
            color: $mainColor;
        }
      }
      .color {
          width: 100%;
          height: 25px;
          margin-top: 10px;
          background-color: $grayBackground;
          border: none;
      }          
}

.button {
    background-color:$mainColor;
    border-color: $mainColor;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
  }

.grid {    
    width: 100%;
    display: flex;
    flex-direction: column;
    .row {
        display: flex;
        -ms-flex: 1;
        flex: 1;
        .cell {
            border: 1px solid black;
            width: 100%;
            min-height: 5px;
            background-color: #ffffff;
        }
    }
    @media only screen and (min-width: 600px) {
        margin:auto;
        max-width: 800px;
    }
}

.naslov {
    text-align: center;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
.center {
    text-align: center;
}

